
/* ekomi green = #186105 */

/* action buttons grayed out #ccd6dd */
/* action buttons activated #ffac33 */

/* General CSS */

body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}


.container{
  text-align: center;
}



/*********** Icon Font **********/

@font-face {
    font-family: 'rosettaicons';
    src: url('../fonts/rosettaiconsRegular.eot');
    src: url('../fonts/rosettaiconsRegular.eot') format('embedded-opentype'),
         url('../fonts/rosettaiconsRegular.woff2') format('woff2'),
         url('../fonts/rosettaiconsRegular.woff') format('woff'),
         url('../fonts/rosettaiconsRegular.ttf') format('truetype'),
         url('../fonts/rosettaiconsRegular.svg#rosettaiconsRegular') format('svg');
}


.icon {
	background: transparent;
	display: inline-block;
	font-style: normal;
	vertical-align: baseline;
}

.icon:before {
	display: block;
	font-family: "rosettaicons";
	font-weight: normal;
	font-style: normal;
	text-align: center;
	-webkit-font-smoothing: antialiased;
}


.icon--reply:before {
	content: "\f151";
}

.icon--retweet:before {
	content: "\f152";
}

.icon--favorite:before {
	content: "\f147";
}


/****************  NAV BAR STYLE  ******************/

.navbar-inverse{
  background-color: #186105;
  color: white;
}

.navbar-inverse .navbar-brand{
  color: white;
}

.logo{
  margin: 2px 10px 0 0;
  float: left;
}



/****************  TWEETS STYLE  ******************/


blockquote.twitter-tweet {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  padding: 26px 16px;
  margin: 0;
  max-width: 450px;
  font: 14px/18px Helvetica, Arial, sans-serif;
  color: #000;

  border: none;

 /* 
  border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  */
}

blockquote.twitter-tweet p {
  font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif;
  margin: 0 5px 10px 0;
}
 
blockquote.twitter-tweet a[href^="https://twitter.com"] {
  font-weight: normal;
  color: #666;
  font-size: 12px;
}

.action-row{
  padding-top: 10px;
}

.action-link{
  color: #ccd6dd;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  width: 35px;
  padding: 0 5px;
  font-size: 20px;
}
.action-link:hover{
  color: #186105;
}


.action-link:active{
  color: #ffac33;
}

.action-link:first-child{
  padding: 0; 
}

.container{ /* Temporal fix */
  width: auto !important;
}